.fixwidth {
    width: 300px;
    margin: 0;
    display: inline-block;
    background-color: beige;
}

.fixwidth2 {
    width: 90px;
    text-align: right;
    margin: 0;
    display: inline-block;
}

.fixwidth3 {
    width: 120px;
    text-align: right;
    margin: 0;
    display: inline-block;
}

.lineheight {
    line-height: 1;
}

.gtpmenu nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.gtpmenu nav ul li {
  float: left;
  margin: 0;
}

.gtpmenu nav ul li a,
.gtpmenu nav ul li p {
  display: block;
  padding: 8px;
  color: white;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  background-color: #8a2966;
}

.gtpmenu nav ul li a:hover,
.gtpmenu nav ul li p:hover {
  background-color: #222;
}

.bigtext {
  font-size: 130%;
}

.compare_row:hover {
    color: red;
    background-color: #ccc;
}
